/*mobile version*/
i {
  color: #1F458E;
  margin: 1px;
}
.page {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

.personalia {
  background-image: linear-gradient(to bottom right, #1F458E, #4C78CE);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  background-color: #faf8f8;
  width: 100%;
}
.person-click {
    display: flex;
    justify-content: center;
}
.person-logo {
  margin: 15px 0px 15px 0px;
  width: 20%;
  animation: glow 3s ease alternate;
}

.profile-content {
  padding: 15px;
  font-size: 20px;
  margin: 10;

}

.profile-content__category-title {
  color: #1F458E;
}

.profile-content__category--hidden-mobile {
  display: none;
}

.profile-content__element-column {
  display: flex;
  flex-direction: column;
}
.profile-content__element-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-content__element--hidden-mobile {
  display: flex;
  flex-direction: column;
  display: none;
}

.profile-content__title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2px;
  margin-top: 6px;
}

.profile-content__period {
  display: none;
}

.profile-content__institute {
  color:  #1F458E;
  margin-top: 0px;
  font-size: 14px;
}
.profile-content__sub {
  color:  #000000;
  margin: 10px;
  font-size: 14px;
  align-items: center;
}
.person-name {
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
@media only screen and (min-width: 800px) {

  .page {
      flex-direction: row;
  }

  .person-name{
      order: -1;
  }

  .profile-content__category--hidden-mobile{
      display: flex;
      flex-direction: column;
  }

  /*fix: anders als stipje zichtbaar*/
  .profile-content__category--hidden-mobile hr{
      width: 100%;
  }

  .profile-content__element--hidden-mobile {
      display: flex;
  }

  .profile-content__element-header{
      display: flex;
      justify-content: space-between;
  }

  .profile-content__period {
      font-size: 12px;
      color: #5c6166;
      display: flex;
  }

}


